body {
    padding: 0;
    margin: 0;
    font-family: Sans;
}

.bbgraph_js {
    display: none;
    visibility: hidden;
}

.mask {
    position: absolute;
    z-index: 999;
    background-image: url(/static/images/dark-60.png);
    background-repeat: repeat;
}

.mask-content {
    margin: 35px;
    padding: 15px;
    border: 1px solid gray;
    -moz-border-radius: 20px;
    background: #fff;
}

.archive_list {
    float: right;
}

#header {
    width: 100%;
    height: 33px;
    background-image: url(../images/header.png);
    margin-bottom: 3px;
}

#sidebar-wrapper {
    position: fixed;
    width: 25%;
    top: 35px;
    bottom: 0px;
    right: 0px;
}

#sidebar {
    margin: 5px;
}

#content-wrapper {
    width: 75%;
    position: absolute;
}

#content {
    margin: 5px;
}

.graph_preview {
    margin-bottom: 10px;
}

.graph_thumbnail {
    border: 1px solid #CCCCCC;
    background-color: #F0F0F0;

    padding-top: 10px;
    padding-bottom: 10px;
    height: 200px;

    text-align: center;
}

.graph_legend {
    color: #777777;
    font-size: small;
}

.graph_title {
    text-align: right;
}

.graph_preview_button {
    text-align: left;
    float: left;
}

.modification_warn {
    visibility: hidden;
    float: right;
    font-size: small;

    background-color: #FFE9D4;
    border: 1px solid #DFB9A4;

    color: #777777;
}

.graphs_list {
    border: 1px solid #dddd00;
    background-color: #f8f8d8;
    padding: 0;

    height: 400px;

    overflow-y: auto;
    overflow-x: hidden;
}

.graphs_list ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
}

.graphs_list {
    font-size: small;

    color: #777777;
}

.thumbnail_preview {
    float: left;
    display: block;
}

.graphs_list ul li:hover {
    background-color: #e8e8a8;
    color: black;

    -moz-border-radius: 5px;
    border: 1px solid black;
}

.graphs_list .graph_new > div {
    font-size: larger;
    padding-left: 70px;
    padding-top: 20px;
}

.graphs_list .graph_item > div {
    padding-left: 70px;
}

.graphs_list .graph_item div.title {
    font-size: larger;
}

.graphs_list .graph_item div.timestamp {
    font-size: small;
    font-style: italic;
}

.graphs_list ul li {
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid gray;
    padding: 2px 0;

    height: 60px;

    border: 1px solid transparent;
}

.graphs_list ul li.graph_item img {
    vertical-align: bottom;
}

.graphs_list a {
    color: inherit;
    text-decoration: none;
}

.graphs_list a.export {
    text-align: center;
}

.graphs_list ul li.graph_item.selected {
    color: #555555;
    background-color: white;
    -moz-border-radius: 5px;

    font-weight: bold;
}

.graphs_list ul li .delete {
    display: none;
    font-weight: bold;
}

.tip {
    background-color: black;
    color: #fff;
    width: 200px;
    z-index: 13000;
}
 
.tip-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #9FD4FF;
    padding: 8px 8px 4px;
}
 
.tip-text {
    font-size: 11px;
    padding: 4px 8px 8px;
}

.textbox {
    padding: 5px;
}

input, textarea, .textbox {
    border: 1px solid #dddddd;
    background-color: #f5f5f5;
}

input[type='submit'] {
    background-color: #d7d7d7;
    margin-bottom: 2px;
}

.textbox.error {
    color: red;
    margin: 5px;
    padding: 45px;
}
