import os
import sys

sys.path[0:0] = [
{%- for egg in eggs %}
# {{ egg }}
        '{{ egg.location }}',
{%- endfor %}
{%- if extra_paths is iterable %}
    {%- for path in extra_paths %}
        '{{ path }}',
    {% endfor -%}
{% elif extra_paths is not undefined %}
        '{{ extra_paths }}'
{% endif -%}
]

os.environ['DJANGO_SETTINGS_MODULE'] = 'settings'
os.environ['PATH'] = '{{ ghostscript_path }}:' + os.environ['PATH']

def import_string(value):
    try:
        module, attr = value.rstrip().split(':', 1)
    except ValueError:
        module, attr = value.rstrip(), None
    __import__(module)
    m = sys.modules[module]
    if attr:
        return getattr(m, attr)()
    return module

application = import_string('{{ handler }}')

