{% extends "page.html" %}

{% block script_head %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="textbox error">
            Page non trouvée
        </div>
    </div>
{% endblock %}
