{% extends "page.html" %}

{% block script_head %}
{% endblock %}

{% block content %}
    <div style="float: right" class="graph_preview">
        <img id="graph_preview" src="/graph/archive/{{ archive.id }}/png/" />
    </div>
    <div id="content">
        <a href="/graph/{{ archive.graph.id }}">retour</a>
        <div class="textbox">
            {{ archive.jps|linebreaksbr }}
        </div>
    </div>
{% endblock %}
