{% extends "page.html" %}
{% block script_head %}
<script type="text/javascript" language="javascript">

document.graphId = '{{ curgraph.id }}';

function download_graph() {
    var graphForm = $('graph_form');
    if(graphForm && graphForm.jps) {
        window.location = '/graph/download/?' + graphForm.toQueryString();
    }
}

window.addEvent('domready', function() {
    new BBGraph.AutoExtend('page-wrapper');
    new BBGraph.PreviewGraphButton($('preview_graph_button'),
        document.graphId, $('graph_form'), '/graph/preview', $('graph_preview'),
        {
            loadingImage: '/static/images/loading.gif',
        }
    ).updatePreview();
    var graphPreviewButton = $('graph_preview_button');

    document.previewButton = $('graph_preview_button');
    document.previewButton.set('tween', { duration: 2000 });
    document.previewButton.appear = function() { this.fade('in'); };
    document.previewButton.show = function() { this.fade('in'); };
    document.previewButton.fade('out');

    document.modificationWarn = $('modification_warn');
    document.modificationWarn.set('tween', { duration: 2000 });
    document.modificationWarn.appear = function() { this.fade('in'); };

    if(document.graphId == 'None') {
        var graphPreviewElement = $('graph_preview');
        var graphPreviewSlider = new Fx.Slide(graphPreviewElement, {duration: 500});
        graphPreviewSlider.hide();
        document.graphPreview = new Object();
        document.graphPreview.element = graphPreviewElement;
        document.graphPreview.slider = graphPreviewSlider;
        document.graphPreview.appear = function() {
	        this.slider.slideIn();
	    };
	    graphPreviewSlider.chain(function() {
                var graphsList = $$('.graphs_list');
                graphsList.setStyle('height', window.getHeight() - this.element.getCoordinates()['bottom'] - 10);
	    });
    }

    new Tips($$('.tool-tip'));
    new Tips($$('.tip-top'), {offsets: {x: -200, y: -100}});

    var refreshThumbnails = new BBGraph.RefreshThumbnails();
    refreshThumbnails.refresh();
    $('graphs_list').addEvent('scroll', refreshThumbnails.refresh.bind(refreshThumbnails));

    if ($chk(document.graphId)) {
        Log.log('detected loaded graph %s, scrolling', document.graphId);
        var graphItem = $('graphs_list').getElement('.graph_' + document.graphId);
        if ($chk(graphItem)) {
            var position = graphItem.getPosition($('graphs_list'));
            Log.log('graph item found for scrolling %1.o, position %1.o', graphItem, position);
            $('graphs_list').scrollTo(0, position.y - 10);
        }
    }

});

function onUpdate() {
    if(document.graphId == 'None') {
        document.modificationWarn.appear();
        document.graphPreview.appear();
        document.previewButton.appear();
    } else {
        document.modificationWarn.appear();
        document.previewButton.appear();
    }
}
</script>
{% endblock %}
{% block content %}
<div id="sidebar-wrapper">
    <div id="sidebar">
        {% if curgraph.id %}
        <div class="graph_preview">
            <div id="graph_preview" class="graph_thumbnail">
                <img src="/static/images/loading.gif" />
            </div>
            <div class="graph_legend">
                <div id="graph_preview_button" class="graph_preview_button">
                    <a id="preview_graph_button" href="#">preview</a>&nbsp;
                    <a href="javascript:download_graph();">(.eps)</a>
                </div>
                <div class="graph_title">
                    {{ curgraph.name }}
                </div>
            </div>
        </div>
        {% endif %}
        {% if not curgraph.id %}
        <div class="graph_preview">
            <div id="graph_preview" class="graph_thumbnail">
                <img src="" />
            </div>
            <div class="graph_legend">
                <div id="graph_preview_button" class="graph_preview_button">
                    <a id="preview_graph_button" href="#">preview</a>&nbsp;
                    <a href="javascript:download_graph();">(.eps)</a>
                </div>
                <div class="graph_title">&nbsp;
                </div>
            </div>
        </div>
        {% endif %}
        <div id="graphs_list" class="graphs_list">
            <ul>
            <li class="graph_new">
                <div>
                    <a href="/graph" title="Nouveau graphique" rel="Cliquez pour commencer à travailler sur un nouveau graphique" class="tool-tip">Nouveau graphique</a>
                </div>
            </li>
            {% for graph in graphs %}
                {% ifnotequal curgraph.id graph.id %}
                <li class="graph_item graph_{{ graph.id }}">
                {% endifnotequal %}
                {% ifequal curgraph.id graph.id %}
                <li class="graph_item graph_{{ graph.id }} selected">
                {% endifequal %}
                    <div class="bbgraph_js">
                        <div title="thumbnailUrl">/graph/{{ graph.id }}/thumbnail/</div>
                        <div title="graphId">{{ graph.id }}</div>
                    </div>
                    <img class="thumbnail_preview" src="/static/images/tiny-loader.gif" width="60" height="60" />
                    <div><!-- TODO: mettre la suppression à un endroit accessible -->
                        <div class="title">
                            <a class="tip delete" href="javascript:if(confirm('Etes-vous sûr de vouloir supprimer ce graphique ?')) window.location='/graph/delete/{{ graph.id }}/';" alt="Supprimer" title="Supprimer" rel="Cliquez pour supprimer {{ graph.name }}">x</a>
                            <a href="/graph/{{ graph.id }}/">{{ graph.name }}</a>
                        </div>
                        <div class="timestamp">
                            {{ graph.saved_on|date:"SHORT_DATE_FORMAT" }}
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <a class="export tip-top" title="Export" rel="Cliquez pour obtenir un fichier texte contenant l'intégralité de vos graphiques" href="/graph/graphs_export/">Tout exporter dans un fichier texte</a><br/>
            <a class="export tip-top" title="Export" rel="Cliquez pour obtenir un dump de la base de données (fichier binaire)" href="/graph/graphs_backup/">Télécharger une sauvegarde</a>
        </div>
    </div>
</div>
<div id="content-wrapper">
    <div id="content">
        {% if error %}
            <div class="error">
                Une erreur a été rencontrée :<br/>
                {{ error }}
            </div>
        {% endif %}
        <form id="graph_form" method="POST">
            <span id="modification_warn" class="modification_warn">Vous avez effectué des modifications, n'oubliez pas de sauvegarder</span>
            <input type="submit" name="download" value="Télécharger le fichier .eps"/>
            <input type="submit" name="save" value="Sauver"/>
            <input type="submit" name="save_copy" value="Sauver une copie" />
            <input type="hidden" name="id" value="{{ curgraph.id }}"/>
    	{% ifnotequal curgraph.id None %}
                <a class="tool-tip delete" href="javascript:if(confirm('Etes-vous sûr de vouloir supprimer ce graphique ?')) window.location='/graph/delete/{{ curgraph.id }}/';" alt="Supprimer" title="Supprimer" rel="Cliquez pour supprimer {{ curgraph.name }}">x</a>
    	{% endifnotequal %}
            {% if curgraph.archivedgraph_set.all %}
                {% for archive in curgraph.archivedgraph_set.all %}
                    <a title="Voir::Voir le contenu archivé" href="/graph/archive/{{ archive.id }}">{{ archive.version }}</a>
                {% endfor %}
            {% endif %}
            <input type="text" name="name" value="{{ curgraph.name }}" style="width: 100%; font-weight: bold;" />
            <br/>
            <textarea class="extend" name="jps" style="width: 100%">{{ curgraph.jps }}</textarea><br/>
            <script type="text/javascript" language="javascript">
            function activateIfChanged() {
                var graphForm = $('graph_form');
                var graphPreviewButton = $('graph_preview_button');
                if(graphForm) {
                    if((graphForm.jps.value != document.initialJps)
                            || (graphForm.name.value != document.initialName)) {
    		            if(graphForm.id.value != "None") {
    		                /*
                            il faut que le graph existe avant de l'enregistrer
                            le bouton "enregistrer une copie" est la pour ca.
                            */
                            graphForm.save.disabled = false;
                        }
                        graphForm.download.disabled = true;
                        graphForm.jps.removeEvents();
                        graphForm.name.removeEvents();
                        onUpdate();
                    }
                }
            }
    
            window.addEvent('load', function() {
                var graphForm = $('graph_form');
                if(graphForm) {
                    document.initialJps = graphForm.jps.value;
                    document.initialTitle = graphForm.name.value;
                    graphForm.save.disabled = true;
                    graphForm.jps.addEvent('keyup', activateIfChanged);
                    graphForm.name.addEvent('keyup', activateIfChanged);
                }
            });
            </script>
        </form>
    </div>
</div>
{% endblock %}
