<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/reset.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
        <script type="text/javascript" language="javascript" src="/static/js/mootools-1.2.4-core-nc.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/mootools-1.2.4.4-more.js"></script>
        <script type="text/javascript" language="javascript" src="/static/js/bbgraph.js"></script>
        {% block script_head %}
        {% endblock %}
    </head>
    <body>
        <div id="page-wrapper">
            <div id="header">
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
