{% extends "page.html" %}
{% block script_head %}
{% endblock %}
{% block content %}
<script type="text/javascript" language="javascript">
window.addEvent('domready', function() {
    var container = $('container');
    var size = window.getSize();
    Log.log('detected viewport size : %1.d x %2.d', size.x, size.y);
    container.setStyle('position', 'absolute');
    container.setStyle('top', 0);
    container.setStyle('width', size.x);
    container.setStyle('height', size.y - 2);

    var lastChild = $$('#container :last-child').getLast();
    if (lastChild) {
        Log.log('found last child of %1.x : %2.x', container, lastChild);
        var coordinates = lastChild.getCoordinates(window);
        var bottom = container.getCoordinates(window);
        var heightSpace = bottom.bottom - coordinates.bottom;
        Log.log('detected %dpx remaining space', heightSpace);

        var extend = $$('#container > .extend').getLast();
        if (extend) {
            var currentHeight = extend.getSize().y;
            extend.setStyle('height', currentHeight + heightSpace.toInt());
        }
    } else {
        Log.log('empty element, no last child for %1.x', container);
        return;
    }
});
</script>

<div id="container">
    <div style="height: 70px; border: 1px solid red;">
    </div>
    <div class="extend" style="border: 1px solid blue;">
    </div>
    <div style="border: 1px solid yellow;">
    Hello world
    </div>
</div>
{% endblock %}
